on init
    setprop ro.ssbd.session /dev/block/bootdevice/by-name/eksst
    setprop ro.ssbd.offset 0
# Begin Immersion changes
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell
# End Immersion changes

on post-fs-data
# NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

#2014.06.19 LGE_CHANGE_S jin.park@lge.com KT Smart DM Enable
on init
    setprop ril.kt.smart.dm.enable 0

on property:ril.kt.smart.dm.enable=1
    chmod 666 /dev/diag_lge

on property:ril.kt.smart.dm.enable=0
    chmod 660 /dev/diag_lge
#2014.06.19 LGE_CHANGE_E jin.park@lge.com KT Smart DM Enable

